/* over-all website styling */
/* *   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */
/* responsible for stylining all of the body elements */
body    {
        background-color: lightgrey;
        /* background-image: url(https://sfwallpaper.com/images/web-backgrounds-9.jpg); */
        
}
/* styles link emements with-ing the nave bar */
a {
  color: rgb(21, 123, 182);
}

p {
  margin-left: auto;
  margin-right: auto;
}
/* responsible for styling the footer element */
footer  {
  margin-top: 50px;
  padding: 1%;
  color:  rgb(21, 123, 182);
 

}
/* responsible for the collapsible button in navbar */
button  {
  width: auto;
  height: auto;
}

/* responsible for styling all elements with main-content class */
.main-content {

  margin: 2.5% auto;
  padding: 2.5%;
  background-color: white;
  }
/* responsible for styling all elements with footer-row class */
.footer-row  {
  margin: 1%; 
  text-align: center;
  /* margin-left: 25% */
}
/*  styles text size in navbar */
#navbar-text  {
  font-size: 26px;
}

.card {
  width: 350px;
  height: 350px;
}

button {
  width: auto;
  height: auto;
}

.navbar-toggler {
  width: 50px;
  height: 50px;
}

.icon-bar{
  width: 50px;
  height: 50px;
} */