/* over-all website styling */
*   {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* responsible for stylining all of the body elements */
body    {
        background-color: lightgrey;
}
/* responsible for stylining all of the header elements */
header  {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color:white;
    text-align: center;
}
/* responsible for styling the footer element */
footer{
  padding:1%;
  background-color:black;
  color: white;
}
/* responsible for styling all elements with main-content class */
.main-content {
  margin:3%; 
  margin-left: 2%; 
  padding-left: 0;
  padding:3%; 
  width: auto;
  background-color: white;
}
/* responsible for styling all elements with footer-row class */
.footer-row  {
  margin: 1%; 
  margin-left:25%
}